# Future Engineering

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('./datasets/Student_Performance.csv')
df.drop(['Extracurricular Activities'], axis=1, inplace=True)

In [10]:
df

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,9,1,91.0
1,4,82,4,2,65.0
2,8,51,7,2,45.0
3,5,52,5,2,36.0
4,7,75,8,5,66.0
...,...,...,...,...,...
9995,1,49,4,2,23.0
9996,7,64,8,5,58.0
9997,6,83,8,5,74.0
9998,9,97,7,0,95.0
9999,7,74,8,1,64.0